# Optional for OpenAQ v3 higher limits
OPENAQ_API_KEY=fcdeb0fd6827a4e871071d7cd53cbad09becf139e2cf32a090df1cae1559743a

# Optional PostgreSQL connection
DATABASE_URL=postgresql+psycopg2://postgres:your_password@localhost:5432/air_quality_db
